export(gft)
export(inv_gft)
export(inv_gft_fp)
export(inv_gft_broyden)
export(inv_gft_newton)
export(inv_gft_anderson)
export(inv_gft_lbfgs)
export(inv_gft_path)
export(gft_predict)
export(vecl)
export(unvecl)
S3method(print, gft_inv)
